<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country select</title>
    <link rel="stylesheet" href="./assets/css/lib.css">
</head>
<body>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .row {
            margin-bottom: 50px;
        }

        label {
            display: block;
            margin-bottom: 4px;
        }
    </style>

    <div id="root-container">
        <div class="row">
            <label>Выберите страну:</label>

            <country-select
                placeholder="Выберите страну"
                :countries="countries"
                v-model="selectedCountry0"
            >
            </country-select>

            <p>Значение: {{ selectedCountry0 }}</p>
        </div>

        <div class="row">
            <label>Выберите страну или оставьте поле пустым:</label>

            <country-select
                    placeholder="Выберите страну"
                    :countries="countries"
                    v-model="selectedCountry1"
                    :allow-empty="true"
            >
            </country-select>

            <p>Значение: {{ selectedCountry1 }}</p>
        </div>
    </div>

    <!-- JS scripts -->
    <script type="text/javascript" src="./assets/js/lib.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
</body>
</html>